@media screen and (min-width: 800px) and (max-width: 1150px) {
    .lss-desc {
        font-size: 0.55em;
        width: 50vw;
    }

    header {
        background: #EDF9F7;
    }

    .q-navbar-logo-text {
        color: #324B50;
    }
}